@font-face {
  font-family: "Hurme Geometric Sans";
  src: url("../assets/font/HurmeGeometricSans3-Black.eot");
  src: url("../assets/font/HurmeGeometricSans3-Black.woff") format("woff");
}

* {
  font-family: "Hurme Geometric Sans";
}

/* Navbar */

.navbar-brand img {
  margin-left: 130px;
  width: 10%;
}

.bg-body-tertiary {
  background-color: rgba(0, 0, 0, 0) !important;
}

.navbar > .container-fluid {
  align-items: flex-start !important;
}

.navbar-expand-lg .navbar-collapse {
  flex-direction: row-reverse !important;
}

button a {
  text-decoration: none;
}

button a:visited {
  color: #fff !important;
}

/* Carousel */

.carouselText {
  position: absolute;
  top: 40%;
}

.carousel-inner {
  height: 95vh !important;
}

#carouselExampleIndicators {
  top: -150px !important;
  z-index: -1 !important;
}

.btn-bordeaux {
  --bs-btn-color: #fff;
  --bs-btn-bg: #ac1f26;
  --bs-btn-border-color: #ac1f26;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #ac1f26;
  --bs-btn-hover-border-color: #ac1f26;
  --bs-btn-focus-shadow-rgb: 225, 83, 97;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #ac1f26;
  --bs-btn-active-border-color: #ac1f26;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #ac1f26;
  --bs-btn-disabled-border-color: #ac1f26;
  border-radius: 20px;
}
